.tabs-v1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  letter-spacing: 1px; 
}

.tab-v1 {
  background: transparent;
  color: #4d5256;
  font-size: 0.89em;
}

.tab-v1:not(last-child) {
  margin-right: 1em;
}

.tab-v1:hover {
  display: inline-block;
  color: #fff;
  outline: none;
  background: #00a8e8;
}

.tab-v1:active {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  outline: none;
  background: #00a8e8;
}

.tab-v1.active,.tab-v1.active:hover,.tab-v1.active:active {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  outline: none;
  background: #00a8e8;
  transform: scale(1);

}

/* TAB CONTENT */

.tabs-container {
  width: 100%;
  position: relative;
}

.tab-content-container {
  position: absolute;
  width: 100%;
  padding: 0px;
}

input[name="project-tab-selector"] {
  display: none;
}

.tab-content-wrapper {
  display: none;
  transition: all 0.2s ease-in-out;
}

input[name="project-tab-selector"]:checked ~ div.tab-content-wrapper {
  display: block;
  transition: all 0.2s ease-in-out;
}

