<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://www.w3schools.com/lib/w3.js"></script>

    <link rel="stylesheet" type="text/css" href="../includes/main.css">
    <link rel="stylesheet" type="text/css" href="../includes/main-menu.css">
    <link rel="stylesheet" type="text/css" href="../includes/top-section.css">

    <!-- PUT YOUR CSS HERE -->
    <link rel="stylesheet" type="text/css" href="your.css">

  </head>

  <body style="height: 100%;">
 
    <div w3-include-html="../includes/menu.html"></div>

    <div class="content-container">

      <div w3-include-html="../includes/top-section.html"></div>

    </div>
    <script>w3.includeHTML();</script>
  </body>
</html>