.moha-wrapper {
	width: 100%;
	height: 100vh;
	background-image: url(../img/back.jpg);
	background-size: cover;
	background-origin: 0px;
	background-repeat: no-repeat;
	background-color: hsla(207,6%,32%,0.1);
}

.moha-container {
	width: 100%;
	margin: 0;
	height: 100vh;
	background-color: hsla(207,6%,32%,0.1);
	padding: 4em 4em 14em 4em;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.moha-date {
	width: 33%;
	padding: 1em;
	background-color: hsla(207,6%,32%,0.5);
}

.moha-now-container {

}

.moha-menu-container {
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 10em;
	width: 100%;
}

.moha-menu {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #4d5256;
}

.moha-menu-link {
	position: relative;
	cursor: pointer;
	width: 20%;
	height: 2.5em;
	border-right: 1px solid #818487;
	color: #efefef;
	line-height: 2.5em;
	text-align: center;	
}

.moha-menu-link:hover {
	color: #fff;
}

.moha-menu-link:last-child {
	border-right: none;
}

.moha-menu-link-title {
	display: block;
	width: 100%;
}

.moha-menu-link-title:hover + .moha-menu-level2 {
	display: block;
}

.moha-menu-level2 {
	position: absolute;
	z-index: 100;
	display: none;
	bottom: 100%;
	width: 100%;
	padding: 0.5em 0;
	background-color: #4d5256;
	color: #b5b5b5;
}

.moha-menu-level2:hover {
	display: block; /* very cool trick */
}

.moha-menu-level2-link {
	line-height: 2.5em;
	height: 2.5em;
	text-align: center;
}

.moha-menu-level2-link:hover {
	color: #fff;
}