.search-box-container {
  position: relative;
  margin-left: 2.5em;
}


input[name="wt-search-box"] {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid white;
  width: 2em;
  transition: width .3s linear;
}

input[name="wt-search-box"]:after {
  content: 'a';
  position: absolute;
  right: 0;
  top: 0;
}

input[id="wt-search-box"]:focus {
  width: 24em;
  height: 2em;
  background-color: white;
  transition: width .3s linear;
}

.search-help-container {
  position: absolute;
   top: 100%;
   z-index: 110;
   display: none;
   border: 1px solid #eaeaea;
   flex-wrap: wrap;
 }

input[id="wt-search-box"]:focus + .search-help-container {
  display: block;
  width: 24em;
  right: 0;
  display: flex;
  background-color: white;
}

.search-cat {
  width: 11.9em;
  height: 4.02em;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-cat span img {
  width: 2.84em;
  height: 2.84em;
  margin-right: 0.25em;
  border-radius: 50%;
}