.content-container {
  background: hsla(0, 0%, 71%, 0.21)
}

.filter-bar {
  padding: 0 1.12em;
}
.card-group-container {
	display: flex;
	flex-flow: row wrap;
  flex: 1;
	justify-content: flex-start; /* center will make a single look centered but giving margin 0 auto does the trick */
	margin: 0 auto;
	background-color: hsl(0, 0%, 94%);
  padding: 1em 0;
}

@media (min-width: 343px) {
  .card-group-container {
    width: 343px;
  }
}

@media (min-width: 767px) {
  .card-group-container {
    min-width: 686px;
  }
}

@media (min-width: 1191px) {
  .card-group-container {
    width: 1028px;
  }
}

.card-container {
  box-shadow: 4px 4px 6px rgba(0,0,0,0.13);
  width: 20.41em;
  background-color: #FFF;
  border-radius: 0.22em;
  padding: 1em;
  margin-top: 1.79em;
  margin-left: .5em;
  margin-right: .5em;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: 0.89em;
  margin: 0.44em 0;
}

.activity {
  font-size: 0.8em;
  font-style: italic;
  color: #2ca58d;
  margin: 0.44em 0;
}

.project-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  flex: 0 0 33.3333333%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1em 0;
}

.info span:first-child {
  font-family: 'Roboto Mono';
  color: #00a8e8;
  font-size: 1.12em;
  line-height: 2;
}

.info span:nth-child(2) {
  text-transform: uppercase;
  font-size: 0.89em;
}

.project-progress {
  width: 100%;
  position: relative;
}

.project-progress:before {
  content: '';
  position: absolute;
  top:0px;
  left:0;
  width: 100%;
  height: 0.31em;
  background-color: #b5b5b5;
}

.project-progress:after {
  content: '';
  position: absolute;
  top:0px;
  left:0;
  width: 78%;
  height: 0.31em;
  background-color: #2ca58d;
}

.project-progress span {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  padding-top:0.44em;
}

.project-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.22em 0 0 0;
}

.project-active {
  display: block;
  color: #72d26b;
  position: relative;
  margin-left: 1.42em;
  font-size: 1em;
}

.project-active:before {
  content: '';
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: -1.42em;
  background: #72d26b;
}

button {
  border: 0;
  padding: 0;
  font-size: 0.89em;
  padding: .5em 2em;
  border-radius: 1em;
  background-color: #2ca58d;
  color: #FFF;
}



.hidden {
  position: absolute;
  width: 0;
  heihght:0;
  visibility: hidden;
  opacity: 0;
}

input[name="project-drop"]:checked + .project-drop-content {
  display: block;
  z-index: 100;
}

.project-drop-content {
  display: none;
  position: absolute;
  right: 0;
  width: 11.43em;
  background-color: white;
  box-shadow: 4px 4px 6px rgba(181,181,181,0.5);  
}

.more-items {
  list-style: none;
  padding:0;
  margin:0;
}

.more-item {
  padding:0;
  margin:0;
  padding: 0.44em 0.63em;
  color: #4d5256;
  cursor: pointer;
}

.more-item:hover {
  color: #00a8e8;
  cursor: pointer;
}

hr {
  border:0;
  height: 1px;
  background-color:rgba(181,181,181,0.5);
}

.delete {
  color: #ef233c;
}